appdirs==1.4.3
Brian2==2.0.1
cycler==0.10.0
functools32==3.2.3.post2
Jinja2==2.9.6
MarkupSafe==1.0
matplotlib==2.0.0
mpmath==0.19
numpy==1.12.1
packaging==16.8
pandas==0.19.2
py-cpuinfo==3.2.0
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2017.2
six==1.10.0
subprocess32==3.2.7
sympy==1.0
